<h1 class="text-center">Companies</h1>

<div class="d-flex justify-content-end mb-3">
  <%= link_to 'New Company', new_company_path, class: "btn btn-primary" %>
</div>

<div class="card">
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each_with_index do |company, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= company.name %></td>
            <td>
              <%= link_to 'Show', company, class: "btn btn-info btn-sm" %>
              <%= link_to 'Edit', edit_company_path(company), class: "btn btn-warning btn-sm" %>
              <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
